@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary-color: #151226;
  --contrast-color:blue;
}
.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: var(--contrast-color);
}

.container1 {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  animation: expand .8s ease forwards;
  background-color: var(--secondary-color);
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all .8s ease;
}

.container_content1 {
 width: 50%;
}

.container_content_inner1 {
  width: 80%;
  margin-left: 80px;
}

.container_outer_img {
  margin: 50px;
  width: 50%;
  overflow: hidden;
}   
    
.container_img1 {
  width: 100%;
  animation: slideIn 1.5s ease-in-out forwards;
}

.par1 {
  height: auto;
  overflow: hidden;
}

p1{
  line-height: 28px;
  transform: translateY(300px);
  animation: slideUp .8s ease-in-out forwards .8s;
}



.title1 {
  overflow: hidden;
  height: auto;
}

h1 {
    font-size: 40px;
    color: var(--contrast-color);
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .8s ease forwards .5s;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes heartbeat {
	 0% {
		 transform: scale(0);
	}
	 25% {
		 transform: scale(1.2);
	}
	 50% {
		 transform: scale(1);
	}
	 75% {
		 transform: scale(1.2);
	}
	 100% {
		 transform: scale(1);
	}
}

 .slider-container {
	 position: relative;
	 margin: 0 auto;
	 width: 800px;
	 height: 600px;
}
 .slider-container .bullet-container {
	 position: absolute;
	 bottom: 10px;
	 width: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .slider-container .bullet-container .bullet {
	 margin-right: 14px;
	 height: 20px;
	 width: 20px;
	 border-radius: 50%;
	 background-color: white;
	 opacity: 0.5;
}
 .slider-container .bullet-container .bullet:last-child {
	 margin-right: 0px;
}
 .slider-container .bullet-container .bullet.active {
	 opacity: 1;
}
 .slider-container .slider-content {
	 position: relative;
	 left: 50%;
	 top: 50%;
	 width: 70%;
	 height: 60%;
	 transform: translate(-50%, -50%);
}
 .slider-container .slider-content .slider-single {
	 position: absolute;
	 z-index: 0;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 transition: z-index 0ms 250ms;
}
 .slider-container .slider-content .slider-single .slider-single-image {
	 position: relative;
	 left: 0;
	 top: 0;
	 width: 100%;
	 height: 100%;
	 box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
	 transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
	 transform: scale(0);
	 opacity: 0;
}
 .slider-container .slider-content .slider-single .slider-single-download {
	 position: absolute;
	 display: block;
	 right: -22px;
	 bottom: 12px;
	 padding: 15px;
	 color: #333;
	 background-color: #fdc84b;
	 font-size: 18px;
	 font-weight: 600;
	 font-family: "karla";
	 border-radius: 5px;
	 box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	 transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
	 opacity: 0;
}
 .slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
	 outline: none;
	 text-decoration: none;
}
 .slider-container .slider-content .slider-single .slider-single-title {
	 display: block;
	 float: left;
	 margin: 16px 0 0 20px;
	 font-size: 20px;
	 font-family: "karla";
	 font-weight: 400;
	 color: #fff;
	 transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
	 opacity: 0;
}
 .slider-container .slider-content .slider-single .slider-single-likes {
	 display: block;
	 float: right;
	 margin: 16px 20px 0 0;
	 transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
	 opacity: 0;
}
 .slider-container .slider-content .slider-single .slider-single-likes i {
	 font-size: 20px;
	 display: inline-block;
	 vertical-align: middle;
	 margin-right: 5px;
	 color: #ff6060;
	 transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
	 transform: scale(0);
}
 .slider-container .slider-content .slider-single .slider-single-likes p {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0;
	 color: #fff;
}
 .slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
	 outline: none;
	 text-decoration: none;
}
 .slider-container .slider-content .slider-single.preactivede .slider-single-image {
	 transform: translateX(-50%) scale(0);
}
 .slider-container .slider-content .slider-single.preactive {
	 z-index: 1;
}
 .slider-container .slider-content .slider-single.preactive .slider-single-image {
	 opacity: 0.3;
	 transform: translateX(-25%) scale(0.8);
}
 .slider-container .slider-content .slider-single.preactive .slider-single-download {
	 transform: translateX(-150px);
}
 .slider-container .slider-content .slider-single.preactive .slider-single-title {
	 transform: translateX(-150px);
}
 .slider-container .slider-content .slider-single.preactive .slider-single-likes {
	 transform: translateX(-150px);
}
 .slider-container .slider-content .slider-single.proactive {
	 z-index: 1;
}
 .slider-container .slider-content .slider-single.proactive .slider-single-image {
	 opacity: 0.3;
	 transform: translateX(25%) scale(0.8);
}
 .slider-container .slider-content .slider-single.proactive .slider-single-download {
	 transform: translateX(150px);
}
 .slider-container .slider-content .slider-single.proactive .slider-single-title {
	 transform: translateX(150px);
}
 .slider-container .slider-content .slider-single.proactive .slider-single-likes {
	 transform: translateX(150px);
}
 .slider-container .slider-content .slider-single.proactivede .slider-single-image {
	 transform: translateX(50%) scale(0);
}
 .slider-container .slider-content .slider-single.active {
	 z-index: 2;
}
 .slider-container .slider-content .slider-single.active .slider-single-image {
	 opacity: 1;
	 transform: translateX(0%) scale(1);
}
 .slider-container .slider-content .slider-single.active .slider-single-download {
	 opacity: 1;
	 transition-delay: 100ms;
	 transform: translateX(0px);
}
 .slider-container .slider-content .slider-single.active .slider-single-title {
	 opacity: 1;
	 transition-delay: 200ms;
	 transform: translateX(0px);
}
 .slider-container .slider-content .slider-single.active .slider-single-likes {
	 opacity: 1;
	 transition-delay: 300ms;
	 transform: translateX(0px);
}
 .slider-container .slider-content .slider-single.active .slider-single-likes i {
	 animation-name: heartbeat;
	 animation-duration: 500ms;
	 animation-delay: 900ms;
	 animation-interation: 1;
	 animation-fill-mode: forwards;
}
 .slider-container .slider-left {
	 position: absolute;
	 z-index: 3;
	 display: block;
	 right: 85%;
	 top: 50%;
	 color: #fff;
	 transform: translateY(-50%);
	 padding: 20px 15px;
	 border-top: 2px solid #fdc84b;
	 border-right: 2px solid #fdc84b;
	 border-bottom: 2px solid #fdc84b;
	 border-left: 2px solid #fdc84b;
	 margin-right: -2px;
}
 .slider-container .slider-right {
	 position: absolute;
	 z-index: 3;
	 display: block;
	 left: 85%;
	 top: 50%;
	 color: #fff;
	 transform: translateY(-50%);
	 padding: 20px 15px;
	 border-top: 2px solid #fdc84b;
	 border-right: 2px solid #fdc84b;
	 border-bottom: 2px solid #fdc84b;
	 border-left: 2px solid #fdc84b;
	 margin-left: -2px;
}
 .slider-container .not-visible {
	 display: none !important;
}
 
 